# Set default values for all following accounts.
defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        ~/.cache/msmtp.log
aliases        /etc/aliases

# {{ onepasswordRead "op://Private/Chezmoi/email_provider" }}
account        {{ onepasswordRead "op://Private/Chezmoi/email_provider" }} 
host           {{ onepasswordRead "op://Private/Chezmoi/smtp_host" }}
port           587
from           {{ onepasswordRead "op://Private/Chezmoi/email" }}
user           {{ onepasswordRead "op://Private/Chezmoi/email" }}
password       {{ onepasswordRead "op://Private/Chezmoi/email_password" }}

# Set a default account
account default : {{ onepasswordRead "op://Private/Chezmoi/email_provider" }} 
