{{- $email := passFields "chezmoi/email" -}}
# Set default values for all following accounts.
defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        ~/.cache/msmtp.log
aliases        /etc/aliases

# {{ $email.name }}
account        {{ $email.name }} 
host           {{ $email.smtphost }}
port           587
from           {{ $email.login }}
user           {{ $email.login }}
password       {{ $email.password }}

# Set a default account
account default : {{ $email.name  }} 
