{{- $email := passFields "chezmoi/email" -}}
[retriever]
type = SimpleIMAPSSLRetriever
server = {{ $email.imaphost }}
username = {{ $email.login }}
port = 993
password = {{ $email.password }}
mailboxes = ("Archive",)

[destination]
type = Maildir
path = ~/backups/{{ $email.name }}/

[options]
read_all = False
