{{- $email := onepasswordRead "op://Private/Chezmoi/email" -}}
[retriever]
type = SimpleIMAPSSLRetriever
server = {{ onepasswordRead "op://Private/Chezmoi/imap_host" }}
username = {{ onepasswordRead "op://Private/Chezmoi/email" }}
port = 993
password = {{ onepasswordRead "op://Private/Chezmoi/email_password" }}
mailboxes = ("Archive",)

[destination]
type = Maildir
path = ~/backups/{{ onepasswordRead "op://Private/Chezmoi/email_provider" }}/

[options]
read_all = False
