{{- $workDnsSuffix := trim (onepasswordRead "op://Private/Chezmoi/work_dns_suffix") }}
{{- $fullHostname := trim ( output "hostname" ) }}
{{- $atWork := hasSuffix $workDnsSuffix $fullHostname }}
{{- $email := trim (onepasswordRead "op://Private/Chezmoi/work_email")  }}
{{- $personalEmail := trim (onepasswordRead "op://Private/Chezmoi/email") }}
{{- $name := "Sir Rippov the Maple" }}
{{- if $atWork }}
{{- $name = printf "%s %s" (onepasswordRead "op://Private/personal-identity/first name") (onepasswordRead "op://Private/personal-identity/last name") }}
{{- else }}
{{- $email = trim (onepasswordRead "op://Private/Chezmoi/git_email") }}
{{- end }}
{{- $batcmd := "bat" }}
{{- $os := "other" }}
{{- if eq .chezmoi.os "darwin" }}
{{- $os = "darwin" }}
{{- else if eq .chezmoi.os "linux" }}
{{- if eq .chezmoi.osRelease.id "arch" -}}
{{- $os = "arch" }}
{{- else if eq .chezmoi.osRelease.idLike "debian" -}}
{{- $os = "debian" }}
{{- else }}
{{- $os = "linux" }}
{{- end }}
{{- end }}
{{- if eq $os "debian" }}
{{- $batcmd = "batcat" }}
{{- end }}
pager = {{ $batcmd | quote }}

[data]
  work = {{ $atWork | quote }}
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  os = {{ $os | quote }}
