{{- $workDnsSuffix := trim (bitwarden "item" "work_dns_suffix").notes }}
{{- $fullHostname := trim ( output "hostname" ) }}
{{- $atWork := hasSuffix $workDnsSuffix $fullHostname }}
{{- $email := "" }}
{{- $name := "Sir Rippov the Maple" }}
{{- if $atWork }}
{{- $email = trim (bitwarden "item" "work-identity").identity.email }}
{{- $name = printf "%s %s" (bitwarden "item" "work-identity").identity.firstName (bitwarden "item" "work-identity").identity.lastName }}
{{- else }}
{{- $email = trim (bitwarden "item" "git-identity").identity.email }}
{{- end }}
{{- $batcmd := "bat" }}
{{- $os := "other" }}
{{- if eq .chezmoi.os "darwin" }}
{{- $os = "darwin" }}
{{- else if eq .chezmoi.os "linux" }}
{{- if eq .chezmoi.osRelease.id "arch" -}}
{{- $os = "arch" }}
{{- else if eq .chezmoi.osRelease.idLike "debian" -}}
{{- $os = "debian" }}
{{- else }}
{{- $os = "linux" }}
{{- end }}
{{- end }}
{{- if eq $os "debian" }}
{{- $batcat = "batcat" }}
{{- end }}
pager = {{ $batcmd | quote }}

[data]
  work = {{ $atWork | quote }}
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  os = {{ $os | quote }}
