export XDG_DATA_HOME=$HOME/.local/share
export XDG_CONFIG_HOME=$HOME/.config
export XDG_STATE_HOME=$HOME/.local/state
export XDG_CACHE_HOME=$HOME/.cache
export LC_ALL=en_US.UTF-8

# Move npm global directory
export NPM_CONFIG_PREFIX=$XDG_DATA_HOME/.npm-global
mkdir -p $NPM_CONFIG_PREFIX
export PATH=$NPM_CONFIG_PREFIX/bin:$PATH

export FASTMAIL_MASKEDEMAIL_TOKEN='{{ (bitwardenFields "item" "www.fastmail.com").masked_email_token.value }}'

[ -f "$HOME/.cargo/env" ] && . "$HOME/.cargo/env"
