# {{ .email }}
{{- if eq .work "true" }}
Host github.com-SirRippovMaple
    HostName github.com
    IdentityFile ~/.ssh/personal.pub
    IdentitiesOnly yes
    StrictHostKeyChecking yes
    CheckHostIP no
{{- else }}
Host github.com
    IdentityFile ~/.ssh/personal.pub
    IdentitiesOnly yes
    StrictHostKeyChecking yes
    CheckHostIP no
{{- end }}

Host gitlab.com
    IdentityFile ~/.ssh/personal.pub
    IdentitiesOnly yes
    StrictHostKeyChecking yes
    CheckHostIP no
{{- if eq .work "true" }}

{{ passRaw "chezmoi/ssh_config_work" }}
{{- else }}
{{- end }}

Host git.sr.ht
    IdentityFile ~/.ssh/github.pub
    IdentitiesOnly yes

Host nas.trumpi.co.za
    User trumpi
    IdentityFile ~/.ssh/personal.pub
    IdentitiesOnly yes

Host shell.trumpi.co.za
    User trumpi
    IdentityFile ~/.ssh/personal.pub
    IdentitiesOnly yes
    ProxyCommand cloudflared access ssh --hostname %h

Host dad-and-mom
    User trumpi
    IdentityFile ~/.ssh/personal.pub

