# {{ .email }}
{{- if eq .work "true" }}
Host github.com-SirRippovMaple
    HostName github.com
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes
    StrictHostKeyChecking yes
    CheckHostIP no
{{- else }}
Host github.com
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes
    StrictHostKeyChecking yes
    CheckHostIP no
{{- end }}

Host gitlab.com
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes
    StrictHostKeyChecking yes
    CheckHostIP no
{{- if eq .work "true" }}

{{ onepasswordRead "op://Employee/ssh_config_work/notesPlain" }}
{{- else }}
{{- end }}

Host git.sr.ht
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes

Host nas.trumpi.co.za
    User trumpi
    IdentityFile ~/.ssh/id_ed25519
    IdentitiesOnly yes

Host dad-and-mom
    User trumpi
    IdentityFile ~/.ssh/id_ed25519
