# {{ .email }}
{{- if eq .work "true" }}
Host github.com-SirRippovMaple
    HostName github.com
    IdentityFile ~/.ssh/github.pub
    IdentitiesOnly yes
    StrictHostKeyChecking yes
    CheckHostIP no
{{- else }}
Host github.com
    IdentityFile ~/.ssh/github.pub
    IdentitiesOnly yes
    StrictHostKeyChecking yes
    CheckHostIP no
{{- end }}

{{- if eq .work "true" }}

{{ (bitwarden "item" "ssh_config_work").notes }}

{{- else }}

Host git.trumpi.co.za
    Port 2222
    IdentityFile ~/.ssh/github.pub
    IdentitiesOnly yes
    StrictHostKeyChecking yes
    CheckHostIP no
{{- end }}

Host git.sr.ht
    IdentityFile ~/.ssh/github.pub
    IdentitiesOnly yes

Host trumpi-nas trumpi-nas.internal.trumpi.co.za
    User trumpi
    IdentityFile ~/.ssh/github.pub
    IdentitiesOnly yes
