[gdrive]
type = drive
client_id = {{ (bitwardenFields "item" "rclone.conf").gdrive_client_id.value }}
client_secret = {{ (bitwardenFields "item" "rclone.conf").gdrive_client_secret.value }}
scope = drive
token = {"access_token":"","token_type":"Bearer","refresh_token":"{{ (bitwardenFields "item" "rclone.conf").gdrive_refresh_token.value }}","expiry":"1970-01-01T00:00:00.000000000Z"}
team_drive = 

