[{{ onepasswordRead "op://Private/Chezmoi/email_provider" }}]
default = true
email = "{{ onepasswordRead "op://Private/Chezmoi/email" }}"

backend = "imap"
imap-host = "{{ onepasswordRead "op://Private/Chezmoi/imap_host" }}"
imap-port = 993
imap-login = "{{ onepasswordRead "op://Private/Chezmoi/email" }}"
imap-auth = "passwd"
imap-passwd = { raw = "{{ onepasswordRead "op://Private/Chezmoi/email_password" }}" }
imap-ssl = true

sender = "sendmail"
sendmail-cmd = "false"
