{{- $email := passFields "chezmoi/email" -}}
[{{ $email.name }}]
default = true
email = "{{ $email.login }}"

backend = "imap"
imap-host = "{{ $email.imaphost }}"
imap-port = 993
imap-login = "{{ $email.login }}"
imap-auth = "passwd"
imap-passwd = { raw = "{{ $email.password }}" }
imap-ssl = true

sender = "sendmail"
sendmail-cmd = "false"
