[general]
status_path = "~/.cache/vdirsyncer/status/"

[pair icloudsync]
collections = [["icloudcollections", "default", "card"]]
a = "khard"
b = "icloud"
conflict_resolution = "a wins"

[pair owncloudsync]
collections = [["owncloudcollections", "default", "contacts"]]
a = "khard"
b = "owncloud"
conflict_resolution = "a wins"

[pair {{ onepasswordRead "op://Private/Chezmoi/email_provider" }}sync]
collections = [["{{ onepasswordRead "op://Private/Chezmoi/email_provider" }}collections", "default", "Default"]]
a = "khard"
b = "{{ onepasswordRead "op://Private/Chezmoi/email_provider" }}"
conflict_resolution = "a wins"

[storage khard]
type = "filesystem"
path = "~/contacts"
fileext = ".vcf"

[storage owncloud]
type = "carddav"
url = "https://owncloud.trumpi.co.za/remote.php/dav/principals/users/trumpi/"
username = "{{ onepasswordRead "op://Private/Owncloud/username" }}"
password = "{{ onepasswordRead "op://Private/Owncloud/password" }}"

[storage icloud]
type = "carddav"
url = "https://contacts.icloud.com"
username = "{{ onepasswordRead "op://Private/Apple/username" }}"
password = "{{ onepasswordRead "op://Private/Apple/app_password" }}"

[storage {{ onepasswordRead "op://Private/Chezmoi/email_provider" }}]
type = "carddav"
url = "https://{{ onepasswordRead "op://Private/Chezmoi/carddav_host" }}"
username = "{{ onepasswordRead "op://Private/Chezmoi/email" }}"
password = "{{ onepasswordRead "op://Private/Chezmoi/email_password" }}"
