{{- $email := passFields "chezmoi/email" -}}
{{- $icloud := passFields "chezmoi/icloud" -}}
[general]
status_path = "~/.cache/vdirsyncer/status/"

[pair icloudsync]
collections = [["icloudcollections", "default", "card"]]
a = "khard"
b = "icloud"
conflict_resolution = "a wins"

[pair {{ $email.name }}sync]
collections = [["{{ $email.name }}collections", "default", "Default"]]
a = "khard"
b = "{{ $email.name }}"
conflict_resolution = "a wins"

[storage khard]
type = "filesystem"
path = "~/contacts"
fileext = ".vcf"

[storage icloud]
type = "carddav"
url = "https://contacts.icloud.com"
username = "{{ $icloud.login }}"
password = "{{ $icloud.app_password }}"

[storage {{ $email.name }}]
type = "carddav"
url = "https://{{ $email.carddavhost }}"
username = "{{ $email.login }}"
password = "{{ $email.password }}"
